$defaultColor: #C6CAD1;
$functionNameColor: #AC74D6;
$functionColor: #318CE7;
$varColor: #56A6E8;
$operatorsColor: #E06A71;
$operatorNewColor: #E06A71;
$conditionsColor: #E06A71;
$classColor: #318CE7;
$classNameColor: #E5C07B;
$numberColor: #56B6BE;
$quotesColor: #98C36D;
$commentsColor: #5F6672;
$backgroundColor: #21252B;