@import "./_vars";

*[data-highlight-code] {
	background: $backgroundColor;
	color: $defaultColor;
}

.highlight {
	&__s {
		&-cls {
			color: $classColor;
		}

		&-clsn {
			color: $classNameColor;
		}

		&-cds {
			color: $conditionsColor;
		}

		&-nmr {
			color: $numberColor;
		}
		
		&-on {
			color: $operatorNewColor;
		}

		&-dft {
			color: $defaultColor;
		}

		&-f {
			color: $functionColor;
		}

		&-cmts {
			color: $commentsColor;
		}

		&-oprs {
			color: $operatorsColor;
		}

		&-fn {
			color: $functionNameColor;
		}

		&-v {
			color: $varColor;
		}
	}
}